<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-cale=1">
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  
  <body ng-app="myApp" ng-controller="myCtrl" class="bodySize">

    <div ng-hide="isAuthenticated">
      <div class="loginMargin">
        <div class="container-fluid">
          <div class="row">
            Please enter your company code: <input class="inputCode" ng-model="code"/><br/>
          </div>
          <div class="row">
            <div class="errorMessage">
              {{ errorMessage.error }} <br/>
            </div>
          </div>
          <div class="row">
            <button class="button okButton" ng-click="login(code)">OK</button>
          </div>
        </div>
      </div>
    </div>

      <div ng-show="isAuthenticated">
        <div class="headMargin">
          <h1>Settings</h1>
        </div>

        <div class="divMargin">
          <div id="Menu">
            <div ng-repeat="(key, value) in message">
              <div class="row">
                <div class="col-mc-8">
                  <input  id="{{key}}" type="text" class="inputText" value="{{value}}"/>
                </div>
              </div>
              <br />
            </div>
          </div>
          
          <br />
          <div class="row">
            <div class="col-md-1">
              <button type="button" class="button cancelButton" ng-click="window.location.reload()">Cancel</button>
              </div>
            <div class="col-md-1">
              <button type="button" class="button saveButton" ng-click="saveConfirm()">Save</button>
            </div>
          <br /><br /><br />
        </div> 
      </div>

    </div>
  </body>
 
</html>
